@mixin btn($bg-color: #e2e2e2){
    text-decoration: none;
    display: inline-block;
    padding: $base-padding $base-padding * 2;
    border: 0;
    border-radius: $base-border-radius - 10;
    background-color: $bg-color;
    cursor: pointer;
}

.btn{
    @include btn;
}

@each $key, $val in $colors{
    .btn-#{$key}{
        @include btn($val);

        &:hover{
            background-color: lighten($val, 5);
        }
    }

    .btn-outline-#{$key}{
        @include btn(transparent);
        border: $base-border-thickness solid $val;
        &:hover{
            background-color: $val;
        }
    }
}